@import "tailwindcss";

@theme {
  --color-dark-orange: #d52d00;
  --color-orange: #ef7627;
  --color-light-orange: #ff9a56;
  --color-pink: #d162a4;
  --color-dusty-pink: #b55690;
  --color-dark-rose: #a30262;

  --color-sand: #FAE6D3;
  
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #333333;

  --font-thick: 'Archivo Black', sans-serif;
}

@layer base {
  :root {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color: var(--color-black);
    background-color: var(--color-sand);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    margin: 0 auto;
  }

  .hero-title {
    font-family: var(--font-thick);
    font-size: clamp(3rem, 8vw, 6rem); /* Responsive size */
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--text-main);
    line-height: 0.85;
  }
}